<h1>Send A New Tweet</h1>

<form id='new_tweet-form' action='/new_tweet' method='post'>
  <textarea type='textarea' name='tweet_content' rows=5 cols=30 placeholder='Tweet Content Hurr' ></textarea>
  <button type='submit'>Tweet!</button>
</form>

<div id='new_tweets'>
</div>
